
.container{
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}
.brochure{
    width: 100%;
}

@media (max-width: 768px) {
    img {
      width: 100%;
    }
  }

