
.container{
    box-sizing: border-box;
    padding: 0;
    margin: auto 0 auto 0 ;
    box-sizing: border-box;
    width: 98vw;
    display:flex;
    justify-content: center;
    align-items: center;

}
.brochure{
     width: 100%;
}

@media ( max-width: 767px)  { 
   .container{
    width: 98vw;
    margin-top: 50%;
    margin-left: 0;
   }
}


@media (orientation: portrait){
    .rotate{
        display: flex;
        transform: rotate(45deg);
    }
}
.rotate{
    position: absolute;
    z-index: 1;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    background-color: antiquewhite;
    display: none;
}
