
.container{
    box-sizing: border-box;
    padding: 0;
    margin: auto 0 auto 0 ;
    box-sizing: border-box;
    width: 98vw;
    display:flex;
    justify-content: center;
    align-items: center;

}
.brochure{
     width: 100%;
}

@media ( max-width: 767px)  { 
   .container{
    width: 98vw;
    margin-top: 50%;
    margin-left: 0;
   }
}


/* phone rotate style */
.rotate-icon {
    position: fixed;
   display: none; /* Hide the icon by default */
   animation-name: rotate;
   animation-duration: 3s;
   animation-fill-mode: forwards; /* retains the last keyframe, keeps the -90deg rotation change*/
  }

  @keyframes rotate{
    from {transform: rotate(0deg);}
    to {transform: rotate(-90deg);}
  }
  
  .rotate-icon img {
    width: 60px;
    
  }
  
  